@charset "UTF-8";
 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 自行增加的設定 */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  box-sizing: border-box;
}

/* 圖片設定 */
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

/* 連結設定 */
a {
  text-decoration: none;
  color: inherit;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.mx-100 {
  max-width: 100%;
}

.p-12 {
  padding: 12px;
}

.p-32 {
  padding: 32px 0px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-48 {
  margin-right: 48px;
}

.mr-32 {
  margin-right: 32px;
}

.mr-64 {
  margin-right: 64px;
}

@media (max-width: 768px) {
  .mr-md-0 {
    margin-right: 0;
  }
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-32 {
  margin-bottom: 32px;
}

.f-s {
  font-size: 14px;
}

.f-m {
  font-size: 20px;
}

.f-ml {
  font-size: 24px;
}

.f-l {
  font-size: 36px;
}

.f-xl {
  font-size: 48px;
}

.bg-primary {
  background-color: #AA0601;
  color: #FFFFFF;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  /* 左右 padding */
  padding: 0 12px;
}
@media (max-width: 768px) {
  .container .container {
    max-width: 720px; /* (696 + 24 gutter) */
  }
}
@media (max-width: 375px) {
  .container .container {
    max-width: 372px; /* (348 + 24 gutter) */
  }
}

.row {
  margin-left: -12px;
  margin-right: -12px;
  display: flex;
}

.col-1 {
  width: 8.333%;
}

.col-2 {
  width: 16.666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333%;
}

.col-5 {
  width: 41.666%;
}

.col-5 {
  width: 50%;
}

@media (max-width: 768px) {
  .flex-direction-md-column {
    flex-direction: column;
  }
}
.logo {
  display: inline-block;
  width: 80px;
  height: 49px;
  background-image: url("../img/logo-new_工作區域 1@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .logo {
    margin: 0 0 16px 16px;
  }
}

@media (max-width: 768px) {
  .navbar-wrap {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }
}

.main .title {
  border-left: 8px solid #9F1213;
  padding-left: 16px;
  margin-top: 96px;
  margin-bottom: 32px;
}
.main .select_area {
  width: 304px;
  height: 38px;
  border: 1px solid #CED4DA;
}

.footer {
  padding-top: 48px;
}
.footer .social_media .icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  opacity: 0.8;
}
.footer .social_media .icon:hover {
  opacity: 1;
}
.footer .contact {
  border-bottom: 1px solid white;
}
.footer .contact span {
  width: 36px;
  height: 36px;
}/*# sourceMappingURL=all.css.map */